@page "/"
@using CourtSystem.Components
@using CourtSystem.Components.Pages
@using CourtSystem.Models
@using CourtSystem.Data

@inject IJSRuntime JSRuntime

<div class="container">
    <div class="defendant-list">
        @foreach (var defendant in CourtList.Defendants) {
            <div class="defendant-name @GetButtonClass(defendant)" @onclick="() => ActivateDefendant(defendant)">
                @defendant.FirstName @defendant.LastName
            </div>
        }
    </div>
    <div class="tab-control">
        <CascadingValue Value="this">
            <TabControl>
                <TabPage Title="CFEL">
                    <CfelPage />
                </TabPage>
                <TabPage Title="Information">
                    <InformationPage />
                </TabPage>
                <TabPage Title="Facts of Charge">
                    <FactsOfChargePage />
                </TabPage>
                <TabPage Title="Correspondence">
                    <CorrespondencePage />
                </TabPage>
                <TabPage Title="Evidence">
                    <EvidencePage />
                </TabPage>
                <TabPage Title="Follow-Ups">
                    <FollowUpsPage />
                </TabPage>
                <TabPage Title="Notes">
                    <NotesPage />
                </TabPage>
            </TabControl>
        </CascadingValue>
    </div>

    @if (_error is not null) {
        <p>@_error</p>
    }
</div>

@code {
    private CourtList CourtList { get; set; } = default!;
    public Defendant? ActiveDefendant { get; set; }
    private string? _error { get; set; }

    protected override void OnInitialized() {

        var output = CourtListParser.ReadCaseFiles("SeedData.json");
        if (output is not null) {
            CourtList = output;
            ActiveDefendant = CourtList.Defendants.FirstOrDefault();
        }
        else {
            _error = "Error reading file";
        }

    }

    private void ActivateDefendant(Defendant defendant) {
        ActiveDefendant = defendant;
    }

    private string GetButtonClass(Defendant defendant) {
        if (ActiveDefendant?.Id == defendant.Id) {
            return "selected";
        }

        return "";
    }
}
