.tab-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.tab-button {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 0.25rem 0.25rem 0 0;
    background-color: #eee;
    cursor: pointer;
}

.btn-primary {
    background: blue;
    color: white;
}

.btn-secondary {
    background-color: grey;
    color: black;
}
